header {
    text-emphasis: bold;
    font-size: 3em;
}

footer {
    width: 100%;
}

.theme {
    background-color: #123962;
    color: #b1d4e5;
}

.centered {
    text-align: center;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1 0 auto;
    width: 100%;
}

.content:after {
    content: ‘\00a0’;
    display: block;
    height: 0;
    visibility: hidden;
}